<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/about.css" />
    <title>About</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="banner text-center">
      <h1>About Us</h1>
    </div>
    <br /><br /><br /><br /><br />
    <div class="overview">
      <img
        src="https://plus.unsplash.com/premium_photo-1678000616456-fb837dea2776?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d2hvJTIwYXJlJTIwd2V8ZW58MHx8MHx8fDA%3D"
        alt="about image"
        class="fade-in-left"
      />
      <div class="card-container fade-in-right">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h3>Who we are</h3>
            <p class="card-text">
              We are a team of dedicated professionals committed to delivering
              exceptional services and solutions. Our expertise spans various
              domains, ensuring that we meet the diverse needs of our clients.
              With a focus on innovation and quality, we strive to exceed
              expectations and build lasting relationships.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br />
    <div class="history">
      <div class="card-container">
        <div class="card fade-in-left" style="width: 18rem">
          <div class="card-body ">
            <h3>Our History</h3>
            <p class="card-text">
              Founded in 2015, Streamartisan began as a small team dedicated to
              innovative marketing solutions. Over the years, we’ve grown into a
              trusted partner, delivering cutting-edge services across
              industries, building strong client relationships worldwide.
            </p>
          </div>
        </div>
      </div>
      <img
        src="https://plus.unsplash.com/premium_photo-1682125784386-d6571f1ac86a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aGlzdG9yeXxlbnwwfHwwfHx8MA%3D%3Dx"
        alt="about image"
        class="fade-in-right"
      />
    </div>
    <br /><br /><br /><br /><br />
    <div class="mission">
      <img
        src="https://images.unsplash.com/photo-1521316730702-829a8e30dfd0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWlzc2lvbnxlbnwwfHwwfHx8MA%3D%3D"
        alt="about image"
        class="fade-in-left"
      />
      <div class="card-container fade-in-right">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h3>Our Mission</h3>
            <p class="card-text">
              Our mission is to empower businesses with innovative solutions
              that drive growth and success. We are committed to delivering
              exceptional value through our services, fostering a culture of
              excellence, and making a positive impact in the communities we
              serve.
            </p>
          </div>
        </div>
      </div>
      </div>
      <br><br><br><br>
        <div class="Banner text-center ">
            <h2>Get in Touch</h2>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
            obcaecati esse numquam nihil est expedita similique, accusamus
            reiciendis repudiandae dicta repellat placeat incidunt nulla sit!
            </p>
            <a href="/contact"><button class="btn btn-primary"> Contact Us</button></a>
        </div>
    <br /><br /><br /><br /><br />
    <%- include('partials/footer') %>
  </body>
</html>
